* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}
@font-face {
  font-family: varsity_regular;
  src: url("../fonts/varsity_regular.ttf");
}

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #22644b;
  --colorSecondary: #a68d2b;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .mobileview {
    display: none;
  }
}

.head_call_btn {
  color: #22644b;
}

/* Navbar Ends */

main {
  margin-top: 80px;
}

/* Slider */
.carousel {
  overflow: hidden !important;
  max-height: calc(100vh - 70px);
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--colorSecondary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  /* display: none; */
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner1.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner2.jpg");
  }
}

/* @media screen and (min-width: 1000px) {
  .mobileview {
    display: none;
  }
} */
/* overview  */
.overview-para {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

/* gallery */

#gallery_section .row {
  --bs-gutter-y: 1.5rem;
}

.gall {
  border: 2px solid var(--colorPrimary);
  /* border-radius: 20px; */
  padding: 7px;
  background-color: #f1f1f1;
  box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
  /* box-shadow: rgba(100, 100, 111, 0.726) 0px 7px 29px 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  border-style: dashed;
  border-radius: 30px 0px 30px 0px;
}

.gall img {
  border-radius: 20px;
  border-radius: 30px 0px 30px 0px;
  aspect-ratio: 4/3;
}

/* Configuration */

.config-inner {
  text-align: center;
  font-weight: normal;
  padding: 10px;
  margin-top: 20px;
  background-color: #22644b;
  -webkit-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  -moz-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  border-radius: 30px 0px 30px 0px;
  color: var(--colorWhite);
}
.config-price {
  background: var(--colorSecondary);
  width: 75%;
  margin: 15px auto;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 15px 0px;
}

.config-price a {
  text-decoration: none;
  color: var(--colorWhite);
}
.pricepop {
  font-size: 1.2em;
}
.config_size {
  color: var(--colorWhite);
}

/* amenities */
.amenities_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure.snip1113 {
  /* font-family: 'Raleway', Arial, sans-serif; */
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 310px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

  /* border-radius: 20px; */
  border-radius: 30px 0px 30px 0px;
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 90%;
  margin: 20px auto;
  display: block;
  position: relative;
  border: 3px solid var(--colorSecondary);
  padding: 15px 15px 65px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  /* border-radius: 20px; */
  border-radius: 30px 0px 30px 0px;
}

figure.snip1113 figcaption {
  position: absolute;
  height: 80px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
  background-color: #ffffff;
  color: var(--colorPrimary);
  font-size: 1.2em;
  width: 100%;
  padding: 5px 12px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

/* Location */

.near-location {
  padding-bottom: 25px;
}
.locations-left {
  height: 500px;
  overflow-y: auto;
  text-align: start;
}
.near-location h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-transform: uppercase;
}

.near-location ul {
  /* padding-left: 0px; */
  font-size: 14px;
  /* font-weight: 200; */
}

.near-location ul li {
  line-height: 1.8em;
  font: 1em;
}
.near-location img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .locations-left {
    margin-top: 2em;
  }
}

/* About */
#about_section {
  background-color: var(--colorPrimary);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}

#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorSecondary) !important;
  border: none !important;
  color: var(--colorWhite);
}
.pro-btn,
.pro-btn:hover,
.pro-btn:focus-visible,
.pro-btn:active {
  background-color: var(--colorPrimary) !important;
  border: none !important;
  color: var(--colorWhite);
}
