* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}
@font-face {
  font-family: varsity_regular;
  src: url("../fonts/varsity_regular.ttf");
}

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #b67805;
  --colorSecondary: #a68d2b;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorOffWhite: #f7f7f7;
  --colorBorderWhite: #dbe4e9;
  --colorBlack: #000000;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .mobileview {
    display: none;
  }
}

.head_call_btn {
  color: var(--colorPrimary);
}

/* Navbar Ends */

main {
  margin-top: 80px;
}

/* Slider */
.carousel {
  overflow: hidden !important;
  max-height: calc(100vh - 70px);
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--colorSecondary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  /* display: none; */
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner1.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner2.jpg");
  }
}

/* @media screen and (min-width: 1000px) {
  .mobileview {
    display: none;
  }
} */
/* overview  */
.overview-para {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

/* gallery */

#gallery_section .row {
  --bs-gutter-y: 1.5rem;
}

.gall {
  border: 2px solid var(--colorPrimary);
  /* border-radius: 20px; */
  padding: 7px;
  background-color: #f1f1f1;
  box-shadow: rgba(14, 30, 37, 0.5) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
  /* box-shadow: rgba(100, 100, 111, 0.726) 0px 7px 29px 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  border-style: dashed;
  border-radius: 30px 0px 30px 0px;
}

.gall img {
  border-radius: 20px;
  border-radius: 30px 0px 30px 0px;
  aspect-ratio: 4/3;
}

/* Configuration */

.config-inner {
  text-align: center;
  font-weight: normal;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--colorPrimary);
  -webkit-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  -moz-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  border-radius: 30px 0px 30px 0px;
  color: var(--colorWhite);
}
.config-price {
  background: var(--colorBlack);
  width: 75%;
  margin: 15px auto;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 15px 0px;
}

.config-price a {
  text-decoration: none;
  color: var(--colorWhite);
}
.pricepop {
  font-size: 1.2em;
}
.config_size {
  color: var(--colorWhite);
}

/* amenities */
.amenities_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure.snip1113 {
  /* font-family: 'Raleway', Arial, sans-serif; */
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 310px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

  /* border-radius: 20px; */
  border-radius: 30px 0px 30px 0px;
}

figure.snip1113 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1113 img {
  max-width: 90%;
  margin: 20px auto;
  display: block;
  position: relative;
  border: 3px solid var(--colorSecondary);
  padding: 15px 15px 65px 15px;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  /* border-radius: 20px; */
  border-radius: 30px 0px 30px 0px;
}

figure.snip1113 figcaption {
  position: absolute;
  height: 80px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
}

figure.snip1113 h3 {
  background-color: #ffffff;
  color: var(--colorPrimary);
  font-size: 1.2em;
  width: 100%;
  padding: 5px 12px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1113 h3 span {
  font-weight: 800;
}

figure.snip1113 h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  opacity: 0.6;
  font-size: 1.1em;
}

/* Location */

.near-location {
  padding-bottom: 25px;
}
.locations-left {
  height: 500px;
  overflow-y: auto;
  text-align: start;
}
.near-location h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  text-transform: uppercase;
}

.near-location ul {
  /* padding-left: 0px; */
  font-size: 14px;
  /* font-weight: 200; */
}

.near-location ul li {
  line-height: 1.8em;
  font: 1em;
}
.near-location img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .locations-left {
    margin-top: 2em;
  }
}

/* About */
#about_section {
  background-color: var(--colorPrimary);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}

#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding-left: 10px;
  color: var(--colorWhite);
}

.form-label {
  display: none;
}
.inputStyle {
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
}
.submit-btn,
.submit-btn:hover,
.submit-btn:focus-visible,
.submit-btn:active {
  background-color: var(--colorBlack) !important;
  border: none !important;
  color: var(--colorWhite);
}
.pro-btn,
.pro-btn:hover,
.pro-btn:focus-visible,
.pro-btn:active {
  background-color: var(--colorPrimary) !important;
  border: none !important;
  color: var(--colorWhite);
}

/* InfoBox */
.info-box {
  padding-bottom: 20px;
  color: var(--colorBlack);
}
.info-status {
  font-size: 1.1em;
  text-shadow: 0 1px 2px var(--colorHalfBlack);
  background-color: var(--colorPrimary);
  display: block;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
}

.info-title {
  font-size: 1.9em;
  font-weight: 600;
  padding: 1.2vw 0.8vw 0.3vw;
}

.info-location {
  font-size: 1em !important;
}

/* Color Card */
.card-d {
  width: 95%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.info-box span.heading2 {
  font-weight: 400;
  width: 10em !important;
  display: inline-block;
}
.info-box span.heading1,
.info-box span.heading2 {
  text-align: left;
  vertical-align: top;
  font-size: 1.2em;
}
.info-box span.heading1 {
  font-weight: 700;
  width: 10em !important;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .info-box span.heading1,
  .info-box span.heading2 {
    font-size: 1em;
    width: 8em !important;
  }
}

/* Offer Box */
.of-box {
  font-size: 15px;
  width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
  font-weight: 500;
  text-align: center;

  padding: 8px;
}

.offer-text {
  display: block;
  font-size: 1.1em !important;
  color: var(--colorWhite);
  border: 2px dashed var(--colorWhite);
  padding: 10px 5px;
}

/* Tagline & Price */
.info-tag-line {
  display: block;
  padding: 0.1vw 0.8vw;
  font-size: 1.1em;
  text-transform: capitalize;
  line-height: 0.9em;
  text-align: center;
  margin-top: 10px;
}
.info-price {
  display: block;
  text-align: center;
  padding: 0.1vw 0.8vw 0.3vw;
  font-size: 2em;
  font-weight: 900;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  line-height: 28px;
}
.offer-bg-animation {
  color: var(--colorWhite);
  display: block;
  background: linear-gradient(
    -45deg,
    var(--colorPrimary),
    var(--colorSecondary),
    var(--colorPrimary),
    var(--colorSecondary)
  );
  background-size: 400% 400%;
  -webkit-animation: 3s infinite Gradient;
  -moz-animation: 3s infinite Gradient;
  animation: 3s infinite Gradient;
}

/*  */
/* For Desktop */
/* InfoBox */
@media only screen and (min-width: 990px) {
  .info-box {
    color: var(--colorWhite);
    width: 30vw;
    text-align: center;
    position: absolute;
    top: 0;
    left: 2em;
    z-index: 9;
    margin-top: 7em;
    padding-bottom: 1.5vw;
    display: inline-block;
    background-color: var(--colorBackgroundOverlay);
    border-radius: 0 50px;
    border: 3px solid var(--colorBorderWhite); /*gradient Border animation */
    /* padding-top: 1.5vw; */
  }

  .info-status {
    border-radius: 0 50px 0 0;
  }

  .info-box .info-title {
    font-size: 1.5em;
    padding: 5px 3px 5px;
    color: var(--colorWhite);
  }
  .info-location {
    font-size: 0.9em;
    padding: 0;
    margin: 0;
  }
}

.image-design {
  border-radius: 50px 0;
}
